<div class="container-fluid">
    <div class="row">

        <!-- logo section -->
        <div class="col-sm-12 col-md-7 logo-section" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/images/banner.jpg)">
            <div class="logo-wrap d-flex justify-content-center">
                <img src="assets/images/agmo-logo.png" alt="" class="logo align-self-center">
            </div>
        </div>

        <!-- form section -->
        <div class="col-sm-12 col-md-5 form-section">
            <div class="form-container">
                <div class="full-login">
                    <div class="wrap-login">

                        <h3>Hello,</h3>
                        <h3 class="pb-5">Welcome Back</h3>

                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <div class="wrap-input">
                                    <input type="email" class="form-control input" id="email" formControlName="email" aria-describedby="email" placeholder="Enter email">
                                    <span class="focus-input"></span>
                                </div>
                                <div *ngIf="(email.invalid && (email.dirty || email.touched)) || submitClicked" class="text-danger">
                                    <div *ngIf="email.errors?.required">Email is required.</div>
                                    <div *ngIf="email.errors?.pattern">Email is invalid</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="wrap-input">
                                    <input type="password" class="form-control input" id="password" formControlName="password" placeholder="Password">
                                    <span class="focus-input"></span>
                                </div>
                                <div *ngIf="(password.invalid && (password.dirty || password.touched)) || submitClicked" class="text-danger">
                                    <div *ngIf="password.errors?.required">Password is required.</div>
                                    <div *ngIf="password.errors?.minlength">Password must be at least 5 characters long.</div>
                                </div>
                            </div>

                            <div class="row pb-5">
                                <div class="col-12 line-text">
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="check">
                                            <label class="form-check-label" for="check">Remember me</label>
                                        </div>
                                        <a href="" class="form-text text-dark m-0">Forgot your password ?</a>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" *ngIf="loginForm.invalid && submitClicked">
                                Please check all field.
                            </div>

                            <button type="submit" class="login-form-btn">Log In</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>